FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://eu1.prisma.sh/janine-balangue/delicakes_service/dev"
PRISMA_SECRET="asdfghjkl"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_test_51HSe3ZLJp1jg0cq12XJ5IPomR5L85dAoadNVdW6wVtbfE8PHQwrEyzFLKAwiKKjKvyu1qnRBjHGqiSGyd0yCwkNw00YQxWYh1i"
PORT=4444
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT= 2525
MAIL_USER= 90645d06211891
MAIL_PASS= c5b2a15d9e16c0